body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333; 
}


.banner {
    background-color: #ffffff;  
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    height: 35px;
}

.banner a {
    color: rgb(103, 103, 103);
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.banner a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.banner a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.blog-page {
    /* padding-top: 80px; */
    padding-left: 20px;
    padding-right: 20px;
}


.tags-list {
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-radius: 5px;
}

.tags-list button {
    background: none;
    border: none;
    color: rgb(103, 103, 103);
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.tags-list button:hover, .tags-list .active-tag  {
    background-color: #5e5e5e;
    color: #ffffff;
}

.post-find {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.search-box {
    flex-grow: 1; 
    margin-right: 25px; /* 在搜索框和排序选项之间添加一些右边距 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.search-box input[type="text"] {
    /* flex-grow: 1; */
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 16px; */
}

.sort-options {
    flex-grow: 0; /* 防止排序按钮伸展 */
    display: flex;
    justify-content: flex-end; /* 排序按钮靠右显示 */
    align-items: center; /* 垂直居中对齐排序按钮 */
}

.sort-options button{
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    color: rgb(103, 103, 103);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 5px; /* 为按钮添加左右间距 */
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.sort-options button:hover, .sort-options button:focus {
    background-color: #f0f0f0; /* 按钮悬停和焦点时背景色变化 */
    color: #333; /* 按钮悬停和焦点时文字颜色变深 */
}

.sort-options button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.blog-post {
    background-color: white;  
    border-radius: 5px;  
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.blog-post ul {
    list-style-type: none;
    padding: 0;
}

.blog-post li {
    margin: 10px 0;
    padding: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #ddd; 
}

.blog-post li a {
    text-decoration: none;
    color: #000000;  
    font-size: 24px;
    font-weight: bold;
}

.blog-post li a:hover {
    text-decoration: none;
    color: #818181;  
    font-size: 24px;
    font-weight: bold;
}

.blog-post li:last-child {
    border-bottom: none;
}

.blog-post button {
    background: none;
    border: none;
    color: rgb(103, 103, 103);
    text-decoration: underline;
    padding: 5px 5px 5px 0;
    font-weight: normal;
    border-radius: 5px;
    font-size: 14px;
    /* margin: 5px; */
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.blog-post button:hover {
    /* background-color: #5e5e5e; */
    /* color: #ffffff; */
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.img {
    max-width: max-content;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}